@{ 
    Layout = "_Layout";
}

<h2>An Error has Occured</h2>
<p>
 I'll be honest, I have no idea what happened for you to get here. This is actually some sort of error-handling page. So if you're getting this page... Tell whoever made this okay? They'll fix it or if it's a novel situation... they might even add another page to this site.
<p/>