@model HighScoreServer.Models.ScoreEntry[]
<h2>List of Scores</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Score</th>
    </tr>
    @foreach (var entry in Model)
    {
        @Html.Partial("_Entry", entry)
    }
</table>
<br/>
<hr/>
@Html.ActionLink("Submit a Score", "Submit", "Scoreboard", null)